@model IEnumerable<MyReceiptWebApp.Models.Account>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <div class="row">
            <div class="col-12">
                <h6>Receipts</h6>
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var receipt in Model)
                        {
                        <tr>
                            <td>
                                @receipt.Id
                            </td>
                            <td>
                                @receipt.Email
                            </td>
                            <td>
                                @receipt.Name
                            </td>
                            <td>
                                @receipt.Password
                            </td>
                        </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
    </body>
    </html>

